body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-color: black;
}

main{
    margin-top: 45px;
    padding: 0 100px;
    
}